.login{
  width: 100%;
  height: 100%;
}
.login .parent{
  width: 100%;
  height: 100%;
  background: #DCDCDC;
  position: relative;
  overflow: hidden;
}
.parent .background_svg{
  position: absolute;
  width: 100%;
  height: 100%;
}


.parent .form_wraper{
  width: 33em;
  height: 23em;
  background: white;
  border-radius: 1em;
  box-shadow: 0px 2px 20px 0px rgb(51, 51, 51, 0.1);
  z-index: 2;
}
.parent .form_wraper .form{
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.parent .form_wraper .form .section{
  width: 100%;
  height: 18.5%;
  display: flex;
  align-items: center;
  padding: 0em 3.5em 0em 3.2em;
  position: relative;
}
.parent .form_wraper .form .section:first-child{
  margin-bottom: 0.5em;
  margin-top: -1em;
}
.parent .form_wraper .form .section:last-child{
  margin-bottom: -1em;
  margin-top: 0.5em;
}
.parent .form_wraper .form .section .text{
  color: #1a1a1a;
}
.parent .form_wraper .form .section .text span{
  color: #7F23DA;
}



.parent .form_wraper .form .section .err_msg{
  position: absolute;
  top: 0;
  font-size: 0.8em;
  transform: translateY(-50%);
  color: red;
  transition: all 0.1s ease-in;
  opacity: 0;
}
.parent .form_wraper .form .section.error .err_msg{
  opacity: 1;
}

.parent .form_wraper .form .section input{
  border: 1px solid rgb(145, 145, 145);
  color: #414141;
  font-weight: 800;
  outline: none;
  font-size: 0.9em;
  padding: 0.7em;
  width: 100%;
  border-radius: 0.45em;
  transition: all 0.1s ease-in;
}
.parent .form_wraper .form .section input:focus{
  border: 1px solid #8f33eb;
}
.parent .form_wraper .form .section.error input{
  border: 1px solid rgb(218, 30, 30);
}
.parent .form_wraper .form .section .btn{
  font-size: 0.9em;
  padding: 1em 2.2em 1em 2.2em;
  border: none;
  outline: none;
  background: #7F23DA;
  border-radius: 0.4em;
  color: white;
  cursor: pointer;
  transition: all 0.05s ease-in;
  text-decoration: none;
}
.parent .form_wraper .form .section .btn:first-child{
  margin-right: 2em;
}
.parent .form_wraper .form .section .btn:hover{
  background: #711dc5;
}

.parent .form_wraper .form .section.colors{
  justify-content: center;
}
.parent .form_wraper .form .section .inputs{
  width: 100%;
  height: 100%;
}
.parent .form_wraper .form .section .inputs input{
  width: 0%;
}
.parent .form_wraper .form .section .inputs label{
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 0.4em;
  outline: 0px;
  cursor: pointer;
  border: 2px solid white;
  outline: 0px solid black;
  transition: all 0.05s ease-in;
}
.parent .form_wraper .form .section .inputs input:checked ~ label{
  outline: 2px solid black;
}
